
:LABEL1: Calculations in /lustre/ukt/milias/scratch/Wien2k_23.2_job.main.N1.n32.jid3173983/TsOOQg
:LABEL2: on lxbk1172 at Sat 24 Jun 2023 06:27:16 PM CEST
:LABEL3: using WIEN2k_23.2 (Release 9/3/2022) in /lustre/ukt/milias/work/software/wien2k/Wien2k_23.2_gnu_openmpi_openblas

:LABEL4: using the command: run_lapw -p -ec 0.00001 -i 100 -NI

